<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
</style>
* {
    margin: 0px;
    padding:0px;
    font-family: century;
}
.ul{
    float: right;
    list-style-type: none;
}
 .body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
 }

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width:1170px;
    margin:auto;
}
.row{
    display:flex;
    flex-wrap:wrap;
}
ul{
    list-style: none;
}

.footer{
    background:#070f4e;
    padding: 70px 10;
    padding: 1vw 8vw;
}
.footer-col{
    width:25%;
    padding:0 15px;
}
.footer-col h4{
    font-size: 18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4:: before{
    content:'';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #719EBD;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom:10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color:#bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color:#ffa439
    padding - left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin-right: 10px 10px ;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color= #24262b;
    background-color= #ffffff;
}
/*navigation*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.15); 
}
nav img{
    width: 300px;
    cursor: pointer;
}
nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav .navigation ul li{
    list-style: none;
    margin-left: 15px;
}
nav .navigation ul li a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 500;
    transition: 0.3s ease;
}
nav .navigation ul li a:hover{
    background:#ffffff;
    color: #ffa439;
}
.banner-area{
    height: 400;
    width: 1200px;;
    -webkit-background-size: cover;
    margin: 10 auto;
    background-image: url(PHOTO-2019-03-04-14-45-13\ 2\ \(1\).jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
}
.banner-area h2{
    padding-top: 8%;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color:#ffffff;
    position: center;
}

.container-box{
    display: flex;
}
.card{
    background-color: #fff;
    width:270px;
    justify-content: center;
    margin:25px;
    padding: 0;
    position: center;
}
.card-image{
    background-color:#ffa439;
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
}
.car-1{
    background-image: url('under_grad_main\ \(1\).jpg');
}
.car-2{
    background-image: url('undergraduate.\ photo.jpg');
}
.car-3{
    background-image: url('Msc\ and\ Mphil-photo.jpg');
}
.car-4{
    background-image: url('PhD\ courses-\ photo.jpg');
}
.card h2{
    padding: 10px;
}
.card p{
    padding: 20px;
}
.card a{
    background-color: #ffa439;
    color: #fff;
    padding: 8px 12px;
    text-align: center;
    display:block;
    text-align: center;
}
.section{
    display: flex;
    justify-content: center;

}
.section a{
    color: #f0a146;
}
.text{
    padding:30;
    margin: 20px;
}
.container{
    display: flex;
    justify-content: center;
  
}
.thumbnail{
    margin: 20px;
}



    
